.callAndChat{
    position: fixed;
    width: 100vw;
    height: 100%;
    top:0;
    left:0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    z-index: 999;
    pointer-events: none;
    transform: translateY(-100%);
}

.callAndChat a{
    margin: 1vw 2vw;
    pointer-events: all;
}

.callAndChat img{
    width: 5vw;
    aspect-ratio: 1/1;
}


/* SMALL LAPTOP STYLES */
@media only screen and (min-width: 991px) and (max-width: 1400px){

}

/* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
    .callAndChat a{
        margin: 2vw 3vw;
    }
    
    .callAndChat img{
        width: 8vw;
        aspect-ratio: 1/1;
    }
}

 /* MOBILE STYLES */
@media only screen and (max-width: 649px){
    .callAndChat a{
        margin: 8vw 6vw;
    }
    
    .callAndChat img{
        width: 18vw;
        aspect-ratio: 1/1;
    }
    .callAndChat{
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: row;
    }
}