.infiniteRibbon{
  --time: 120s;
    padding-top: 1vw;
    padding-bottom: 1vw;
    width: 50%;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    color: var(--primary-color);
}

.infiniteRibbonInner{
  overflow: hidden;
  display: flex;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  padding: 1vw 0;
  /* border-top: 4px solid var(--secondary-text-color);
  border-bottom: 4px solid var(--secondary-text-color); */
}

.infiniteRibbonInner div{
  display: flex;
  align-items: center;
  white-space: nowrap;
  animation: marquee var(--time) linear infinite;
  font-family: var(--primary-font);
  font-variant: small-caps;
  font-weight: 900;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.infiniteRibbonInner div:nth-child(2){
  animation: marquee2 var(--time) linear infinite;
  animation-delay: calc(var(--time) / 2);
}

.infiniteRibbonInner div:nth-child(3){
  animation: marquee3 calc(var(--time) / 2) linear;
}


.infiniteRibbonInner div span{
  padding: 0 1vw;
  display: inline-flex;
}




  
  @keyframes marquee {
    0%{
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes marquee2 {
    0%{
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  @keyframes marquee3 {
    0%{
      transform: translateX(-200%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  /* TABLET STYLES */
@media only screen and (min-width: 650px) and (max-width: 990px){
  .infiniteRibbon{
      padding-top: 3vw;
      padding-bottom: 3vw;
      width: 80%;
  }
}
/* MOBILE STYLES */
@media only screen and (max-width: 649px){
  .infiniteRibbon{
      padding-top: 4vw;
      padding-bottom: 4vw;
      width: 100%;
  }
  
  .infiniteRibbonInner{
    padding: 2vw 0;
  }
  
  .infiniteRibbonInner div{
    font-size: 3rem;
    letter-spacing: 0.15rem;
  }
  .infiniteRibbonInner div span{
    padding: 0 2vw;
  }
  
  .infiniteRibbonInner div *:not(span){
    font-size: 2rem;
  }
}